# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# =========================
# Django
# =========================
*.log
local_settings.py
#db.sqlite3
db.sqlite3-journal

# Media & static
#media/
#staticfiles/

# Django migrations (nebūtina ignoruoti, bet jei reikia)
# */migrations/*
# !*/migrations/__init__.py

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# PyCharm
# =========================
.idea/
*.iml

# =========================
# VS Code (jei kas nors naudoja)
# =========================
.vscode/

# =========================
# Testing / coverage
# =========================
htmlcov/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# =========================
# Build / distributions
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
